@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
th, td {
  padding: 15px;
}
.container {
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 0;
}

article h1 {
  margin: 1rem 0;
}
/* resposive */
.row {
  width: 100%;
  display: flex;
}
.row > * {
  width: calc(100% / 3);
}
.size-list{display: flex;
  flex-flow: row wrap; margin-bottom: 20px;}
.size-list button{    width: 19%;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin: 3px;
padding:2px;}
  .size-list button:hover{background:#000; color:#fff;}
  .size-list button.not-available{text-decoration: line-through;}
  .primery-btn{background: #000;
    color: #fff;
    width: 100%;
    border-radius: 22px;
    padding: 14px 0;margin-bottom:20px;cursor:pointer}

  .right-panel h1{
    font-size:3.2rem;
    line-height: 3rem;
    font-weight:normal;
  }
  .fixed{ position:fixed; top:4%; margin-top:1rem;}
  .widthChange{width:32%;}
  .price-label{margin: 5px 0 17px 0;}
  .color-panel{height:162px;}
  .color-panel p{margin-top:5px;}
  .color-panel img{height:100px; border:1px solid #bdbaba;}
  .color-panel img:hover{height:120px; width:auto;border:1px solid #000;}
.size-panel{display:flex; margin-bottom:5px;}
.size-guide{margin-left: auto;margin-right: 19%; text-decoration: underline; cursor: pointer;}

.carousel-item{display:block; float:none; margin-top:10px; margin-bottom:10px;}
.carousel-indicators, .carousel-control-prev, .carousel-control-next{display:none;}


ul.item-titles  {  list-style-type: none;  margin: 0;  padding: 0;  overflow: hidden;}
.item-titles li { float:left;}
.item-titles li a {  display: block;  color: #000;  text-align: center;  padding: 16px;  text-decoration: none;}
.item-titles li a:hover{text-decoration:underline;}








@media screen and (max-width: 768px) {
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  /* Full width on smaller screens */
  .row > * {
    width: 100%;
  }
  .hamburger, .hamburger:hover{background-color: #fff;}
  .hamburger svg{fill:gray}
  .carousel{margin-bottom:20px;}
  .carousel-item{display:none; float:left;}
  .carousel-indicators, .carousel-control-prev, .carousel-control-next{display:flex;}
  .carousel-indicators{margin-bottom:-1rem;}
  .carousel-indicators [data-bs-target]{background-color: #ccc9c9;  }
  .carousel-indicators .active{background-color:#000;}

  .fixed{ position:relative; top:inherit; margin-top:inherit;}
  .widthChange{width:auto}
}
